#contenedor-principal{
    background-color: #E6E7E8;
    height: 1100px;
    width: 90%;
    margin: 1px;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;

}
#contenido-dividido{
    background-color: white;
    height: 950px;
    width: 95%;
    border-radius: 1em;
    margin: 5px;
    padding: 3px;
    float: left;

}
#barra-lateral-izq{
    background-color: #E6E7E8;
    height: 920px ;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border-radius: 10em;
    float: left;
    border-color: rgb(82, 75, 75) ; 
    border-style: solid;
    text-align: center;
    
}
#contenido-central{
    background-color: white;
    height: 900px ;
    width: 60%;
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    float: left;

}
.foto{
    border-radius:50% ;
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-color:  rgb(82, 75, 75) ; 
    border-style: solid;
    margin: 20px;
    
    
}

#nombre{
    color: #898D91;
    text-align: center;
    font-size:60px;
    font-family:Helvetica, sans-serif;
    margin-bottom: 0%;
    padding-bottom: 0%;
    
}
#pie{
    background-color:lightgray;
    font-style: 
     ;
    border-radius: 1em;
    height: 50px;
    width: 90%;
    text-align: center;
}

h2{
    color: #898D91;
}

#sobremi{
    font-size: 40px;
    margin-top: 0%;
}

.datospersonales{
    text-align: left;
}
