#contenedor-principal{
    background-color: #E6E7E8;
    height: 1100px;
    width: 90%;
    margin: 1px;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;

}
#contenido-dividido{
    background-color: white;
    height: 950px;
    width: 95%;
    border-radius: 1em;
    margin: 5px;
    padding: 3px;
    float: left;

}
#barra-lateral-izq{
    background-color: #E6E7E8;
    height: 900px ;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    float: left;
    border-color: black ; 
    border-style: solid;
    text-align: center;
    
}
#contenido-central{
    background-color: white;
    height: 900px ;
    width: 60%;
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    float: left;

}
.foto{
    border-radius:50% ;
    height: 300px;
    width: 300px;
    text-align: center;
}
h2{text-align: center ;
padding: 3px;
text-decoration: underline;
}
#nombre{
    text-align: center;
    font-size:60px;
    font-family:Helvetica, sans-serif;
    
}
#pie{
    background-color:lightgray;
    font-style: 
     ;
    border-radius: 1em;
    height: 50px;
    width: 90%;
    text-align: center;
}

