#contenedor-principal{
    background-color: lightgray;
    height: 1200px;
    width: 90%;
    margin: 1px;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;

}
#contenido-dividido{
    background-color: aliceblue;
    height: 1000px;
    width: 95%;
    border-radius: 1em;
    margin: 5px;
    padding: 3px;
    float: left;

}
#barra-lateral-izq{
    background-color: beige;
    height: 900px ;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    float: left;
    border-color: black ; 
    border-style: solid;
    text-align: center;
    
}
#contenido-central{
    background-color: beige;
    height: 900px ;
    width: 60%;
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    float: left;

}
.foto{
    border-radius:50% ;
    height: 200px;
    width: 200px;
    text-align: center;
}
h2{text-align: center ;
padding: 10px;
}
#nombre{
    font-size:60px;
    font-family: Helvetica, sans-serif
    
}
.pie{
    background-color:white;
    border-radius: 1em;
    height: 200px;
    width: 90%;
}